<footer class="footer">
  <small>
    <a href="https://github.com/asungur/post_it">
      <img width="32px" src="/GitHub-Mark-32px.png">
    </a>
    <a href="https://twitter.com/asungur_">
      <p>©Alican Sungur 2020</p>
    </a>
  </small>
</footer>